body {
  background-color: #282c34 !important;
  color: white !important;
}

.textHead {
  font-size: 52px;
  font-family: "Righteous", cursive;
}

.textBody {
  font-family: "Barlow Semi Condensed", sans-serif;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px; /* Height of the footer */
}

@media screen and (min-width: 768px) {
  .textHead {
    font-size: 32px;
  }

  .textBody {
    font-size: 12px;
  }

  div:nth-child(2) > div:nth-child(4) {
    height: 380px !important;
  }
}

@media only screen and (max-height: 667px) {
  /* For mobile phones: */
  div:nth-child(2) > div:nth-child(4) {
    height: 220px !important;
  }
}

@media only screen and (min-height: 737px) {
  /* For mobile phones: */
  div:nth-child(2) > div:nth-child(4) {
    height: 380px !important;
  }
}

@media only screen and (min-height: 1000px) {
  /* For mobile phones: */
  div:nth-child(2) > div:nth-child(4) {
    height: 700px !important;
  }
}
